bs4
pymupdf
pypdf
arxiv
wikipedia
langchain
python-dotenv
ipykernel
langchain-community
langchain-text-splitters
langchain-openai
langchain_huggingface
sentence-transformers
hf_xet
faiss-cpu  
chromadb

openai
beautifulsoup4
langchain_community

langchain_groq
fastapi
uvicorn
sse_starlette