bs4
pandas
pdfplumber
pymupdf
pypdf
arxiv
wikipedia
langchain
python-dotenv
ipykernel
langchain-community
langchain-text-splitters
langchain-openai
langchain-huggingface
sentence-transformers
hf_xet
faiss-cpu  
chromadb

openai
beautifulsoup4
langchain_community

langchain-groq
fastapi
uvicorn
sse_starlette

langchain-cerebras 
cerebras-cloud-sdk